.leftSectionContainer{
    width: 65%;
}

.standardBlogRightPart{
    width: 50%;
}





/* Standard Blog Style Left Part */
.standardBlogLeftPart{
    width: 50%;
}


/* Main Right Section */
.rightSectionContainer{
    width: 30%;
}


.liked{
    color: #fe4f70;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.ownerSectionTitle{
    font-weight: bold;
}
.authorImage{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.commentOwnerImage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.commentOwnerName{
    font-weight: bold;
}
.commentTitle{
    font-weight: bold;
}
.commentCommentBox{
    border-radius: 20px;
}
.commentButton{
    cursor: pointer;
}

/* Theme Style */
.descriptionText{
    margin-bottom: 20px;
}
.firstImage{
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}
.secondImage{
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}
.thirdImageBig{
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}
.thirdImage{
    width: 50%;
    height: 25vh;
}
.fourthImage{
    width: 50%;
    height: 25vh;
}