/* BlogStyle One Css */

.BlogStyleOneContainer img{
    width: 130px;
    height: 80px;
    border-radius: 5px;
}
.BlogStyleOneText h5{
    font-weight: bold;
    font-size: 17px;
}
/* BlogStyle Two Css */

.authorImage img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.authorImage p{
    margin: 0;
    margin: 0 8px;
}

.blogBigImage{
    width: 100%;
    height: 22vh;
    border-radius: 5px;
}

/* BlogStyle Three Css */
.blogBigImageTwo{
    width:40%;
    height: 175px;
    border-radius: 20px;
}
.blogRightSide{
    width: 60%;
}
.blogRightSide h1{
    font-size: 22px;
    font-weight: bold;
}