
/* .navbarItem{
    width: 6rem;
    text-align: center;
    padding: 0 !important;
} */
/* Side Navbar */

.showSideNav{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.548);
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-in-out;
    z-index: 100;
}
.showSideNavHide{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.sideNavRightSide{
    padding: .5% 2%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 3px 14px -7px;
}

.crossNav{
    position: absolute;
    right: 10%;
    font-size: 2rem;
    cursor: pointer;
}
.sideNavListContainer{
    position: absolute;
    top: 15%;
    width: 100%;
}
.sideNavLists{
    width: 70%;
}
.sideNavLists li{
    padding: 10px 0px;
    border-bottom: 1px solid #80808024;
}
.sideNavLists li a{
    font-size: 1rem;
    transition: all .2s ease-in-out;
}
.sideNavLists li a:hover{
    color: #fe4f70;
    margin-left: 3px;
}
.sideNavTitle{
    background-color: transparent !important;
    border: none !important;
}

/* Dropdown Style */

.dropdownTitle{
    border: none !important;
}
.dropdownBox{
    box-shadow: 2px 3px 14px -7px;
    border: 0px;
    border-radius: 3px;
}
.dropdownItem {
    border-bottom: 1px solid #80808024 !important;
    transition: all .2s ease-in-out !important;
}
.dropdownItem:last-child{
    border-bottom: 0px solid #80808024 !important;
}
.dropdownList{
    font-size: 15px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

/* Dropdown hover */

.dropdownItem:hover {
    margin-left: 4px !important;
    color: #fe4f70 !important;
    background-color: transparent !important;
}

.dropdownItemText:hover{
    color: #fe4f70;
    background-color: transparent!important;
}

/* Search Pop up */
.searchPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 100000;
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-in-out;
}
.searchPosition{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 100%;
}
.searchPopupClose{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.searchPopupHide{
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
}

.searchContainer{
    width: 50%;
}
.searchContainer h1{
    text-align: center;
    font-weight: bold;
}
.searchInput{
    text-align: center;
}
.searchInput input {
    width: 70%;
    height: 3rem;
    border-radius: 30px;
    padding: 0px 20px;
}
.searchInput input:focus{
    border: 1px solid #fe4f70 !important;
}.searchInput input:focus-visible{
    border: none !important;
}

/* Mobile view */
@media screen and (max-width: 1024px) {
    .sideNavRightSide{
        width: 32%;
    }
    .sideNavLists{
        width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .sideNavRightSide{
        width: 100%;
    }
    .sideNavLists{
        text-align: center;
        width: 100%;
    }
    .sideNavTitle{
        text-align: center;
    }
    .crossNav{
        right: 5%;
    }
  }

